# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.coverage
*.vs

# Style Cop files
StyleCop.Cache

# JetBrains and VSCode
.idea/
.vscode/

node_modules
*.log

# testing
.jest-cache


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# packages
packages/*/lib/

# slices-build
apps/slices-build/**/*.html
apps/slices-build/**/*.css
apps/slices-build/**/*.css.map
apps/slices-build/**/*.js
apps/slices-build/**/*.js.map
apps/slices-build/**/*.js.LICENSE
apps/slices-build/**/*.json
